@{
    ViewBag.Title = "Invitation";
}

@section scripts {
    @Scripts.Render("~/bundles/main")
    <script>
        var actions = @Html.Raw(Json.Encode(ViewBag.Actions));
        var viewModel = new ViewModel(actions);
        viewModel.init(start, noQuestions);
        ko.applyBindings(viewModel);
    </script>
}

<div class="w3-display-middle">
    <h1 id="hello" class="w3-jumbo w3-animate-top" style="display: none">HELLO!</h1>
    <div id="are-you-sure" style="display: none">
        <h1 class="w3-jumbo w3-animate-top">Are you Vera?</h1>
        <div class="btn-group" role="group" style="width: 100%; padding-top: 20px;">
            <button id="yes-button" type="button" class="btn btn-success custom-success-button">Yes</button>
            <button id="no-button" type="button" class="btn btn-danger custom-success-button">No</button>
        </div>
    </div>
    <h1 id="no-result" class="w3-jumbo w3-animate-top" style="display: none; text-align: center">Sorry, cannot help you. Goodbye!</h1>
    <h1 id="yes-result" class="w3-jumbo w3-animate-top" style="display: none; text-align: center">Now I'll check whether you're really Vera :)</h1>
    <h1 id="3" class="w3-jumbo w3-animate-top" style="display: none">3</h1>
    <h1 id="2" class="w3-jumbo w3-animate-top" style="display: none">2</h1>
    <h1 id="1" class="w3-jumbo w3-animate-top" style="display: none">1</h1>
    <h1 id="go" class="w3-jumbo w3-animate-top" style="display: none">GO!</h1>
    <h1 id="no-questions" class="w3-jumbo w3-animate-top" style="display: none; text-align: center">Sorry... I have no questions anymore :(</h1>
    <h1 id="success-message" class="w3-jumbo w3-animate-top" style="display: none; text-align: center"></h1>
    <h1 id="relax-message" class="w3-jumbo w3-animate-top" style="display: none; text-align: center">Oops! Just relax a little bit and try again.</h1>
    <h1 id="timer-message" class="w3-jumbo w3-animate-top" style="display: none; text-align: center"></h1>
    <h1 id="after-decision" class="w3-jumbo w3-animate-top" style="display: none; text-align: center">Great choice! I hope you liked my little creative work ;) Thanks!</h1>
    <h1 id="finished" class="w3-jumbo w3-animate-top" style="display: none;">COMING SOON</h1>
    <div id="are-you-ready" style="display: none; max-width: 500px;">
        <h1 class="w3-jumbo w3-animate-top" style="text-align: center">Are you ready to start?</h1>
        <div class="btn-group" role="group" style="width: 100%; padding-top: 20px;">
            <button id="yes-ready-button" type="button" class="btn btn-success custom-success-button">Yes</button>
            <button id="no-ready-button" type="button" class="btn btn-danger custom-success-button">No</button>
        </div>
    </div>
    @Html.Partial("QuestionPartial")
    @Html.Partial("ChoicePartial")
    @Html.Partial("DecisionPartial")
</div>

<div class="w3-display-bottomleft w3-padding-large">
    &copy; @DateTime.Now.Year Special for you! By <a href="https://vk.com/id143134344" target="_blank">D.Sirotkin</a>
</div>